@import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins&family=Yatra+One&family=Ysabeau+Office:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yatra One', cursive;
font-family: 'Ysabeau Office', sans-serif;
}

.alarm-img{
    justify-content: center;
    display: flex;
}

img{
    margin-top: 5%;
}

.container{
    width: 90%;
    max-width: 400px;
    height: 70vh;
    background-color: rgb(191, 189, 189);
    margin:5% auto;
    border-radius: 15px;
}

.current-time{
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.time-box{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 45px;
    margin-top: 5%;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background-color: white;
}

.set-alarm{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.set-alarm select{
    margin-top: 20px;
    height:30px;
    width: 80px;
    border-radius: 5px;
    border: none;
}

.btn{
    display: flex;
    align-items: center;
}

.set-alarm{
    margin-top: 20px;
    gap: 15px;
}

.inp{
    border-radius: 10px;
    border: none;
    font-size: 30px;
    width: 80px;
    height: 50px;
    text-align: center;
}

.set-alarm-btn{
    margin: auto;
    font-size: 25px;
    width: 92%;
    margin-top: 10px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.set-alarm-btn:hover{
    background-color: white;
    color: black;
}

.warn{
    margin-top: 5px;
    width: 92%;
    height: 30px;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 10px 10px;
}

.btn{
    display: flex;
    flex-direction: column;
}

.show{
    display: flex;
    margin-top: 20px;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.b{
    margin-top: 10px;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

#del-btn{
    height: 35px;
    width: 70px;
    border-radius: 10px;
    background-color: rgb(193, 6, 6);
    color:white;
    font-weight: 600;
    font-size:16px;
    border: none;
    cursor: pointer;
    transition:0.3s;
}

#del-btn:hover{
    background-color: red;
}
